<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3ffec">  <td>18/12/23 14:19:22</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC003_MergeLead@617faa95]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/23 14:19:23</td>   <td>1406</td> <td>&nbsp;</td><td title="&gt;&gt;TC003_MergeLead.setData()[pri:0, instance:testcases.TC003_MergeLead@617faa95]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 14:19:23</td>   <td>1422</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC003_MergeLead@617faa95]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 14:19:24</td>   <td>2797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC003_MergeLead@617faa95]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/23 14:19:36</td>   <td>14876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_MergeLead.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC003_MergeLead@617faa95]">login</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 14:20:12</td>   <td>50095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC003_MergeLead@617faa95]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 14:20:13</td>   <td>51048</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC003_MergeLead@617faa95]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/23 14:20:13</td>   <td>51225</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC003_MergeLead@617faa95]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
</table>
